@using WebAppBook.Models;
<div class="col-lg-12">
    <div class="box-bg-form con-base-1">
        <h2>Установить жанр</h2>
        <div class="input-group form-genre">
            <select name="Name" id="Form-Genre" class="form-control">
                @if (ViewBag.Genre != null)
                {
                    <option>Выберите жанр</option>
                    foreach (Genre genre in ViewBag.Genre)
                    {
                        <option id="@genre.Id">@genre.GenreName</option>
                    }
                }
            </select>
            <span class="data-born">Выберите жанр</span>
        </div>

        <div class="box-fow" id="Genre-Box">

        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="box-bg-form box-con" style="margin-top:5rem">
        <h2>Управление жанрами</h2>
        <div class="input-group form-genre">
            <input type="text" name="Genre" class="form-control add-genre-form-228" placeholder="Название жанра" />
            <span class="data-born">Поиск жанра</span>
        </div>

        <div class="box-fow2">
            <div class="input-group">
                <input type="text" class="form-control add-genre-form" placeholder="Название жанра" />
                <button class="btn btn-form add-genre-228">Добавить</button>
            </div>
            <div id="insert-request">
                <div class="box-fow">
                    @if (ViewBag.Genre != null)
                    {
                        foreach (Genre genre in ViewBag.Genre)
                        {
                            <div class="input-group input-group228" id="@genre.Id">
                                <input type="text" name="LastName" value="@genre.GenreName" class="form-control" placeholder="Название жанра" />
                                <button id="add" class="btn btn-form btn-edit btn-edit-call">С</button>
                                <button id="add" class="btn btn-form btn-delete-call">У</button>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>


