<div class="menu-box">
    <div class="menu-side-hidden">

    </div>


    <nav class="menu">
        <ul class="navbar-menu-side">
            <li class="nav-item">
                @Html.ActionLink("Главная", "Index", "Home")
            </li>
            <li class="nav-item">
                @Html.ActionLink("Книга", "AddForm", "Book")
            </li>
            <li class="nav-item">
                @Html.ActionLink("Автор", "AddForm", "Author")
            </li>
            <li class="nav-item">
                @Html.ActionLink("Издатель", "AddForm", "Publisher")
            </li>
        </ul>
    </nav>
</div>

